/* input{
    margin: 10px auto;
    display: block;
    background-color: red;
  }
  
  .progress-bar{
    --progress: 50;
    height: 50px;
    padding: 5px;
    background-color: #ccc;
    display: flex;
  } */
